* {
  outline: unset !important;
}

body {
  font-family: "Roboto";
}
 
body.pleft-280 {
  padding-left: 280px !important;
}

.admin-sidebar {
  width: 280px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
}